version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: backend_arqui_postgres
    environment:
      POSTGRES_DB: backend_arqui
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_arqui_network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: backend_arqui_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - backend_arqui_network
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
  pgadmin_data:

networks:
  backend_arqui_network:
    driver: bridge
